<p>
  Welcome, <%= @user.firstname %>
</p>
<div class="container" ng-app="boojit">
  <div ng-controller="TotalController as total">
    <div class="col-md-6">
      <div class="well">
        Recurring Expenses go here
        <input type="text" ng-model="total.recurringExpenses"/>
      </div>
      <income income-total="total.income"/>
    </div>
    <div class="col-md-6">
      <div class="well">
        Budgets go here
        <input type="text" ng-model="total.budgetedExpenses">
      </div>
      <div class="well">
        Any Irregular Expenses go here
        <input type="text" ng-model="total.irregulars">
      </div>
      <span>
         Budget total is {{total.sumTotal() | currency}}
      </span>
    </div>


  </div>
</div>
