<div class="jumbotron">
  <div class="container">
    <h1>About us</h1>
    <h5>Why on earth you should use this budgeting application</h5>
  </div>
</div>
<div class="container">
 <p>
   This is a simple app for managing your family budget. In our family, We've been big fans of using a tool like <%= link_to 'mint', 'http://www.mint.com' %>
   To see all our expenses in one place. But when it comes down to working out a budget, we found Mint was too complicated, and we preferred a simple
   technique using only a few sheets of paper.
 </p>
</div>
