<div class="jumbotron">
  <div class="container text-center">
    <h1>Boojit</h1>
    <h3>Family Budgeting App</h3>
    <%= link_to 'Sign In', login_path, class: 'btn btn-primary' %>
    <%= link_to 'Sign Up', new_user_path, class: 'btn btn-primary' %>


  </div>
</div>