<div class="well">
    <h4>Sources of Income</h4>

    <div style="float:right;">
        <button ng-click="incomeCtrl.addMoney()" class="btn btn-xs btn-success"><i class="glyphicon glyphicon-plus"></i>
        </button>
    </div>
    <div ng-repeat="income in incomeCtrl.moneys">
        <div action="" class="form-inline" >
            <button class="btn btn-xs btn-danger" ng-click="incomeCtrl.deleteIncome(income)" ng-disabled="incomeCtrl.moneys.length <= 1">
                <i class="glyphicon glyphicon-remove"></i>
            </button>
            <input type="text" ng-model="income.name" ng-blur="incomeCtrl.update(income)" class="form-control"  placeholder="Source of Income"/>
            <input type="number" ng-model="income.amount" ng-blur="incomeCtrl.update(income)" class="form-control" style="width: 8em;" />
            <select name="frequency" id="frequency"
                    ng-model="income.frequency"
                    ng-blur="incomeCtrl.update(income)"
                    ng-options="opt.id as opt.val for opt in incomeCtrl.dropDownOptions"
                    class="form-control" >
            </select>
        </div>
    </div>


    <div style="float:right;">
        <span>Total Income for this month: {{ incomeCtrl.total() | currency}}</span>
    </div>
</div>